/*
 * --------------
 * Custom Modules
 * --------------
*/

#custom-power {
  background-color: rgba(126, 82, 246, 0.8);
  border-bottom: 2px solid rgba(244, 244, 244, 1);
  border-right: 2px solid rgba(244, 244, 244, 1);
  border-left: 2px solid rgba(244, 244, 244, 1);
  border-top: 2px solid rgba(244, 244, 244, 1);
  border-radius: 4px 4px 4px 4px;
  padding: 6px 2px 6px 6px;
  margin: 2px 0;
}

#custom-menu {
  background-color: rgba(126, 82, 246, 0.8);
  border-bottom: 2px solid rgba(244, 244, 244, 1);
  border-right: 2px solid rgba(244, 244, 244, 1);
  border-left: 2px solid rgba(244, 244, 244, 1);
  border-top: 2px solid rgba(244, 244, 244, 1);
  border-radius: 20px 4px 4px 20px;
  padding: 6px;
  margin: 2px 0;
}

#custom-menu:hover {
  background-color: rgba(126, 82, 246, 1);
  border-bottom: 2px solid rgba(244, 244, 244, 1);
  border-right: 2px solid rgba(244, 244, 244, 1);
  border-left: 2px solid rgba(244, 244, 244, 1);
  border-top: 2px solid rgba(244, 244, 244, 1);
  border-radius: 20px 4px 4px 20px;
  padding: 6px;
  margin: 2px 0;
}

#custom-updates {
  background-color: rgba(126, 82, 246, 0.8);
  border-bottom: 2px solid rgba(244, 244, 244, 1);
  border-right: 2px solid rgba(244, 244, 244, 1);
  border-left: 2px solid rgba(244, 244, 244, 1);
  border-top: 2px solid rgba(244, 244, 244, 1);
  border-radius: 4px 20px 20px 4px;
  padding: 6px;
  margin: 2px 0;
}

#custom-updates:hover {
  background-color: rgba(126, 82, 246, 1);
  border-bottom: 2px solid rgba(244, 244, 244, 1);
  border-right: 2px solid rgba(244, 244, 244, 1);
  border-left: 2px solid rgba(244, 244, 244, 1);
  border-top: 2px solid rgba(244, 244, 244, 1);
  border-radius: 4px 20px 20px 4px;
  padding: 6px;
  margin: 2px 0;
}

window#waybar {
	background-color: rgba(41, 48, 59, 0.0);
	/*border-bottom: 2px solid rgba(100, 114, 125, 0.5);*/
	/*border-top: 2px solid rgba(100, 114, 125, 0.5);*/
	/*border-right: 2px solid rgba(100, 114, 125, 0.5);*/
	/*border-left: 2px solid rgba(100, 114, 125, 0.5);*/
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#pulseaudio {
    background-color: rgba(126, 82, 246, 0.8); 
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 20px 4px 4px 20px;
    padding: 6px 8px 6px 10px;
    margin: 2px 0;
}

#pulseaudio:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 20px 4px 4px 20px;
    padding: 6px 8px 6px 10px;
    margin: 2px 0;
}

#memory:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#memory {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#network.disconnected {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#clock:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    padding: 6px 8px 6px 4px;
}

#cpu:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#cpu {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#disk:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#disk {
    background-color: rgba(126, 82, 246, 0.8); 
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#network:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#network {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
}

#temperature:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px 20px 20px 4px;
    padding: 6px 10px 6px 4px;
    margin: 2px 0;
}

#temperature {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px 20px 20px 4px;
    padding: 6px 10px 6px 4px;
    margin: 2px 0;
}

#temperature.critical {
    background-color: #eb4d4b;
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px 20px 20px 4px;
    padding: 6px 10px 6px 4px;
    margin: 2px 0;
}

#clock {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 20px 20px 20px 20px;
    padding: 6px;
    margin: 2px 0;
}


#clock:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 20px 20px 20px 20px;
    padding: 6px;
    margin: 2px 0;
}

#workspaces button {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

#workspaces button.active {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

#tray {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

#battery {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

#battery:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

#backlight {
    background-color: rgba(126, 82, 246, 0.8);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

#backlight:hover {
    background-color: rgba(126, 82, 246, 1);
    border-bottom: 2px solid rgba(244, 244, 244, 1);
    border-right: 2px solid rgba(244, 244, 244, 1);
    border-left: 2px solid rgba(244, 244, 244, 1);
    border-top: 2px solid rgba(244, 244, 244, 1);
    border-radius: 4px;
    padding: 6px;
    margin: 2px 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
